.courses_list, .selected-list, .filters, .arranged-list
{
  font-size: 0.8em;
  margin: 0.5em;
  border: 1px solid #ccc;
  padding: 0.5em;
  border-radius: 0.3em;
}
.courses_list tr.obligatory td:not(.actions)
{
  color: #2784c7;
}
.courses_list tr:not(.obligatory) td:not(.actions)
{
  color: #84c727;
}
.courses_list tr.selected td:not(.actions)
{
  opacity: 0.3;
}
.courses_list td
{
  padding: 0 0.5em;
}
.courses_list .actions
{
  text-align: right;
}

.selected-list .labels
{
  margin-bottom: 1.3em;
  margin-left: 1em;
  font-size: 0.8em;
}
.selected-list .label
{
  display: inline-block;
  padding: 0.3em 0.5em;
  background: #fcfcfc;
  border-radius: 0.3em;
  margin: 0.2em;
  border: 1px solid rgba(0,0,0,0.05);
}
.selected-list .label.red
{
  background: #f6c4c4;
  color: #650000;
  border: 1px solid rgb(243, 0, 0);
}
.selected-list .label.green
{
  background: rgba(162, 255, 170, 0.44);
  color: #076328;
  border: 1px solid rgb(43, 158, 74);
}
.selected-list>.title
{
  font-weight: bold;
  margin-top: 0.7em;
  margin-left: 1em;
}
.selected-list .options
{
  display: inline-block;
  margin: 1em 0.5em;
  margin-top: 0.3em;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 0.3em;
  padding: 0.5em;
}
.selected-list .options .title
{
  font-weight: bold;
}
.selected-list .label .remove
{
  display: inline-block;
  margin-left: 0.3em;
  cursor: pointer;
  opacity: 0.2;
}

.arranged-list .header
{
  margin-left: 10em;
  margin-top: 2em;
  font-size: 1.1em;
}
.arranged-list table
{
  border-collapse: collapse;
  text-align: center;
  margin: 1em;
}
.arranged-list table tr
{
  height: 2em;
}
.arranged-list table td
{
  border: 0.5px solid rgba(0,0,0,0.06);
  min-width: 4em;
  padding: 0;
}
.arranged-list table .lesson
{
  cursor: default;
  padding: 0.35em 0.8em;
}
.arranged-list table .lesson.hover
{
  font-weight: bold;
  background: rgba(0,0,0,0.04);
}
.arranged-list table
{

}
.arranged-list table.details tr.hover
{
  background: rgba(0,0,0,0.04);
  font-weight: bold;
}

.button
{
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  padding: 0.3em 1em;
  border-radius: 0.3em;
  border: 1px solid #888;
  margin: 0.2em;
  transition: all 0.5 s ease-in-out;
}
.button.icon
{
  margin: 0.1em 0em;
  padding: 0em 0.3em;
  color: initial;
  font-weight: initial;
}
.button:hover
{
  background: rgba(0,0,0,0.1);
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.hidden
{
  opacity: 0;
  pointer-events: none;
}
