.courses_list, .selected-list, .filters, .arranged-list
{
  font-size: 0.8em;
  margin: 0.5em;
  border: 1px solid #ccc;
  padding: 0.5em;
  border-radius: 0.3em;
}
.courses_list tr.obligatory td:not(.actions)
{
  color: #2784c7;
}
.courses_list tr:not(.obligatory) td:not(.actions)
{
  color: #84c727;
}
.courses_list tr.selected td:not(.actions)
{
  opacity: 0.3;
}
.courses_list td
{
  padding: 0 0.5em;
}
.courses_list .actions
{
  text-align: right;
}

.selected-list .labels
{
  margin-bottom: 0.7em;
  font-size: 0.8em;
}
.selected-list .label
{
  display: inline-block;
  padding: 0.3em 0.5em;
  background: #fcfcfc;
  border-radius: 0.3em;
  margin: 0.2em;
  border: 1px solid rgba(0,0,0,0.05);
}
.selected-list .title
{
  color: #948332;
  font-weight: bold;
}

.selected-list .label .remove
{
  display: inline-block;
  margin-left: 0.3em;
  cursor: pointer;
  opacity: 0.2;
}

.arranged-list table
{
  border-collapse: collapse;
  text-align: center;
}
.arranged-list table td
{
  border: 0.5px solid rgba(0,0,0,0.06);
}
.arranged-list table .lesson
{
  font-size: 0.9em;
  padding: 0.1em 0.2em;
  margin: 0.1em;
}
.arranged-list table
{

}

.button
{
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  padding: 0.3em 1em;
  border-radius: 0.3em;
  border: 1px solid #888;
  margin: 0.2em;
  transition: all 0.5 s ease-in-out;
}
.button.icon
{
  padding: 0em 0.3em;
}
.button:hover
{
  background: rgba(0,0,0,0.1);
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.hidden
{
  opacity: 0;
  pointer-events: none;
}
