<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>TKU ELECOS</title>
  <link rel="stylesheet" href="static/style.css">
  <script type="text/javascript" src="static/jquery-3.1.0.min.js"></script>
  <script type="text/javascript" src="static/vue.min.js"></script>
  <script type="text/javascript" src="data/courses.json"></script>
</head>
<body>
  <div id="vue-root">
    <div>
      <select v-model="select_group">
        <option v-for="group in groups" :value="group">${group[1]}</option>
      </select>
      <select v-if="select_group" v-model="select_dept">
        <option v-for="dept in select_group[2]" :value="dept">${dept[1]}</option>
      </select>
      <select v-if="select_group" v-model="select_term">
        <option :value="0" selected>第一學期</option>
        <option :value="1">第二學期</option>
      </select>
      <div v-if="select_dept && select_term != undefined" class="button" @click="add_dept(select_dept[2],select_term)">添加所有</div>
      <div v-if="select_dept && select_term != undefined" class="button" @click="add_dept(select_dept[2],select_term,true)">添加必修</div>
    </div>
    <div class="selected-list">
      <div class="label" v-for="course in selected">
        ${course.name}
        <div class="remove" @click="remove_course(course)">X</div>
      </div>
    </div>
    <div v-if="select_group && select_dept && select_term != undefined">
      <table class="courses_list">
          <thead>
            <tr>
              <th></th>
              <th>序號</th>
              <th>科目</th>
              <th>年級</th>
              <th>名稱</th>
              <th>學分</th>
              <th>教師</th>
              <th>實習</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="course in select_dept[2]" v-if="course.term == select_term" :class="{'obligatory': course.obligatory, 'selected': is_selected(course)}">
              <td class="actions">
                <div v-if="!is_selected(course)" class="button icon" @click="add_course(course)">+</div>
              </td>
              <td>${course.no}</td>
              <td>${course.subject}</td>
              <td>${GRADES[course.grade]}</td>
              <td>${course.name}</td>
              <td>${course.credit}</td>
              <td>${course.teacher}</td>
              <td>${course.has_lab? course.lab_classtime.length :''}</td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>
</body>
<script type="text/javascript" src="static/index.js"></script>
</html>
